/* App.css or equivalent CSS file */

html,
body,
#root {
  height: 100%;
  margin: 0;
}
.app-container {
  display: flex;
  /* height: 100vh; Ensures the container takes full height */
  width: 100%; /* Ensures the container takes full width */
  margin-top: 80px;
}

.newsDisplay {
  border-top-left-radius: 15px;
  background-color: #e6d1c1; /* A little darker than #f4f1ea */
    color: #2f2f2f; /* Darker than #3e3e3e */
  margin-left: 15%; /* Matches the width of the sidebar */
  width: 85%; /* Takes up the remaining space */
  padding: 20px;
}

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 2px; /* Width of the scrollbar */
  height: px; /* Height of the scrollbar (for horizontal scrollbar) */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 #f1f1f1; /* Thumb color and track color */
}
